:root {
    --cl-text: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 20px;
}

h1 {
    margin: 50px;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--cl-text);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.link {
    color: #222;
    transition: 0.3s;
}

.link:hover {
    color: rgb(43, 114, 236);
}

/* CONTAINER */
.container {
    width: 100px;
    height: 100px;
    background-color: pink;
    transition: width 1s, height 1s 1s, background-color 1s 2s;
}

.container:hover {
    width: 200px;
    height: 300px;
    background-color: rgb(234, 28, 200);
}

/* CONTAINER 2 */
.container-2 {
    width: 100px;
    height: 100px;
    background-color: pink;
    opacity: 0.3;
    transition: transform 3s, opacity 1s 3s;
}

.container-2:hover {
    transform: translateX(50px) rotate(360deg) scaleY(2);
    opacity: 1;
}

/* CONTAINER 3 */
.container-3 {
    width: 100px;
    height: 100px;
    background-color: rgb(56, 88, 56);
    transition: transform 1s 1s, width 1s, height 1s 2s;
}

.container-3:hover {
    width: 200px;
    transform: rotate(720deg);
    height: 200px;
}

/* CONTAINER 4 */
.container-4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    transition: 1s;
}

.dad-container {
    /* background-color: pink; */
}

.dad-container:hover .container-4 {
    transform: translateX(500px);
}

/* CONTAINER 5 */
.container-5 {
    height: 200px;
    width: 350px;
    padding: 20px;
    background-color: rgb(246, 241, 210);
    margin: auto;
    overflow: hidden;
}

p {
    transform: translateY(200px);
    opacity: 0;
    transition: 1s;
}

.container-5:hover p {
    transform: translateY(0);
    opacity: 1;
}

/* CONTAINER 6 */
.container-6 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #525ce9;
    animation: moove 2s 1s infinite alternate linear;
}

@keyframes moove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(300px);
    }
}

/* CONTAINER 7 */
.container-7 {
    display: flex;
    gap: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    animation: jump 0.5s infinite alternate ease-in;
}

.circle:nth-child(2) {
    animation: jump 0.5s 0.25s infinite alternate ease-in;
}

@keyframes jump {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}

.card {
    border-radius: 5px;
    aspect-ratio: 5/7;
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.card-big {
    width: 250px;
    transform: rotate(8deg);
}

.card-small {
    width: 100px;
    transform: rotate(-8deg);
    position: absolute;
    z-index: -1;
}

.cards:hover .card-big {
    transform: translate(100px, -50px) rotate(20deg);
}

.cards:hover .card-small {
    transform: translate(-100px, -50px) rotate(-20deg);
}
