.hero {
    min-height: calc(100vh - 65px);
    padding: 2em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../img/hotel-3000.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    font-size: clamp(25px, 8vw, 35px);
    h1 {
        color: #fff;
    }
}
