:root {
    --cl-text: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cl-text);
}

a {
    text-decoration: none;
    color: var(--cl-text);
}

h1 {
    text-align: center;
}
