@mixin inp($display, $padding, $font-size, $width, $m-width, $margin) {
    display: $display;
    padding: $padding;
    font-size: $font-size;
    width: $width;
    max-width: $m-width;
    margin: $margin;
}
